<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Possible values MySql,SqlServer,InMemoryK-->
    <add key="DatabaseType" value="SqlServer"/>
    <add key="ConnectionString" value="Server=localhost;Database=RecipesTeam1;Integrated Security=True;TrustServerCertificate=True;"/>

    <!--Uncomment the connection string you'd like to use-->
    <!--SqlServer connection string sample-->
    <!--<add key="ConnectionString" value="Server=localhost;Database=RecipesTeam1;Integrated Security=True;TrustServerCertificate=True;"/> -->

    <!--You can use the below command to spin up a new SqlServer instance and use the below connectionString. Do replace the ## with two dashes as they can't be used in xml comments,-->
    <!-- docker run -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=P$$w0RD_My123"  -p 1433:1433 ##name sql1 ##hostname sql1 -d mcr.microsoft.com/mssql/server:2022-latest -->
    <!--<add key="ConnectionString" value="Server=127.0.0.1,1433;Database=RecipesTeam1;User Id=sa;Password=P$$w0RD_My123;TrustServerCertificate=True;" />-->

    <!--MySql connection string sample-->
    <!--<add key="ConnectionString" value="Server=myServerAddress;Database=RecipesTeam1;Uid=myUsername;Pwd=myPassword;" />-->
    <!--<add key="ConnectionString" value="Server=myServerAddress;Port=1234;Database=RecipesTeam1;Uid=myUsername;Pwd=myPassword;" />-->
    
    <!--You can use the below command to spin up a new SqlServer instance and use the below connectionString. Do replace the ## with two dashes as they can't be used in xml comments,-->
    <!-- docker run ##name some-mysql -e MYSQL_ROOT_PASSWORD=my-secret-pw  -p 3306:3306  -d mysql -->
    <!--<add key="ConnectionString" value="Server=127.0.0.1;Port=3306;Database=RecipesTeam1;Uid=root;Pwd=my-secret-pw;" />-->
    
    <!--Settings for docker compose configuration-->
    <!--<add key="DatabaseType" value="MySql"/>
    <add key="ConnectionString" value="Server=team1-mysql;Port=3309;Database=RecipesTeam1;Uid=root;Pwd=my-secret-pw;" />-->
    
  </appSettings>
</configuration>